/* ALL ELEMENT STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  text-align: center;
  min-height: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  align-items: center;
}

/* NAVBAR */
nav {
  padding-top: 0.5em;
  padding-bottom: 0;
  margin: 0.1em;
  font-size: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 50%);
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 2em 0;
}

nav ul li {
  font-family: "Comfortaa, cursive";
  font-size: 1.1rem;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 1em 2em;
  transition: all 0.5s ease;
}

nav ul li a:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 0.5em white;
}

/* HOME SECTION */

#home {
  display: flex;
  flex-direction: column;
  background-color: rgb(0 0 0 / 50%);
  height: 50em;
  justify-content: center;
  align-items: center;
  color: white;
}

#home::before {
  content: "";
  position: relative;
  top: 0;
  right: 0;
  background: url("../images/selfie.JPG") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

.main {
  display: flex;
  flex-direction: column;
  border: 0.1em;
  align-items: center;
  position: absolute;
  top: 32%;
  right: 3%;
}

.headings {
  font-family: Comfortaa, cursive;
  font-size: 2.5rem;
  text-align: center;
  margin: 0.2em 0;
}

/* ABOUT SECTION */
#about {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  padding: 2em;
  margin-bottom: 3em;
}

#pic {
  display: flex;
}

#pic img {
  width: 30em;
  height: 28em;
}

#intro {
  display: inline-flex;
  flex-direction: column;
  text-align: justify;
  padding: 3em;
}

#intro h3 {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

/* PORTFOLIO CONTAINER */
.project-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  object-fit: contain;
  margin: 1em;
}

/* PROJECT CONTAINER STYLE */
.project {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: honeydew;
  color: black;
  padding: 2em;
  margin: 4em;
  min-height: ;
  flex-basis: 40%;
  text-align: center;
  box-sizing: border-box;
  width: 60em;
  border: 0.2em solid black;
}

/* FISRT DEPLOYED APP STYLES */
.project:first-child {
  min-width: 60%;
}

.project img {
  max-width: 40%;
}

.project-description {
  background-color: gray;
  color: black;
  margin-top: 65%;
  max-height: 17em;
  object-fit: contain;
  display: inline-block;
  padding-bottom: 2em;
}

.project-description h4 {
  font-size: 2em;
  margin-bottom: 0.2em;
}

/* INDIVIDUAL PROJECT STYLES */
#project1 {
  background-image: url(../images/horiseon.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 48em;
  width: 30em;
}

#project1:hover {
  color: lightgray;
  opacity: 0.5;
}

/* IMAGE SOURCE https://unsplash.com/ */
#project2 {
  background-image: url(../images/barbershop.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40em;
  width: 30em;
}

/* IMAGE SOURCE https://unsplash.com/ */
#project3 {
  background-image: url(../images/HVAC.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40em;
  width: 30em;
}

/* CONTACT STYLES */
#contact-me {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS */
@media screen and (max-width: 980px) {
  .main {
    display: flex;
  }

  nav ul li a {
    padding: 5px 6px;
  }

  #about,
  #home,
  #intro,
  #project1,
  #project2,
  #project3,
  .project {
    padding: 8px;
    margin-top: 5px;
    font-size: 8px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .main {
    display: flex;
  }

  nav ul li a {
    padding: 5px 6px;
  }

  #about,
  #home,
  #intro,
  #project1,
  #project2,
  #project3,
  .project {
    padding: 8px;
    margin-top: 5px;
    font-size: 8px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .main {
    display: flex;
  }

  nav ul li a {
    padding: 5px 6px;
  }

  #about,
  #home,
  #intro,
  #project1,
  #project2,
  #project3,
  .project {
    padding: 10px;
    margin-top: 5px;
    font-size: 10px;
  }
}

/* SOURCES: https://www.youtube.com/watch?v=zX3ikOsQg58&t=262s
https://www.youtube.com/watch?v=fOSpqwM_ZtQ */

/* FONT SOURCE: https://fonts.google.com/specimen/Comfortaa */
